*{
    margin: 0;
    padding: 0;
    left:0;
    top: 0;
    box-sizing: border-box;
    background-attachment: fixed;
}
body{
background: #ffecfd(90, 145, 109);
color: #000000;
}
section{
    min-height: 50vh;
    padding: 9rem 9% 2rem;
}
#header{
    width: 100%;
    height: 100vh;
    background-color: #b1b273;
    background-size: cover;
    background-position: center;
    
}
#header h1{
    float: left;
    letter-spacing: 0.5px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.home-img{
    display: flex;
    margin-right: 20px;
    border-radius: 15px;
}
.home-content p{
    font-size: 30px;
    font-weight: 300;
    line-height: 0.5;
}
.home-content h1{
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
    margin: 0;
    text-align: left;
}
.social-media a{
    display:inline-flex;
    justify-content: center;
    align-items:center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(black);
    border-radius: 50%;
    font-size: 2rem;
    color: black;
    margin-top: auto;
    text-align: left;
    transition: .5s ease;
}
.social-media a:hover{
    background: white;
    color: black;
    box-shadow: 0 0 1rem white;
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: #F1F1C0;
    border-radius: 3rem;
    box-shadow: 0 0 1rem #F1F1C0;
    font-size: 1rem;
    color: black;
    letter-spacing: .1rem;
    font-weight: 300;
}
.btn:hover{
    box-shadow: none;
}


nav{
    width: 100%;
    height: 90px;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    background-image: linear-gradient(#F1F1C0, #b1b273);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul{
        float: right;
        position: fixed;
        top:0;
        width: 100%;
    }
nav li{
        display: inline-block;
        list-style: none;
    }
nav li a{
    font-size: 50px;
    padding: 0px 30px;
    text-decoration: none;
}
li{
    display: block;
    float: right;
}
li a{
    display: block;
    padding: 8px;
}
/* ul{
    position: fixed;
    top:0;
    width: 100%;
    text-align: left;
} */
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 10px;

}

nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: black;
    left: 0;
    bottom: 2px;
    display: block;
    margin-top: -20px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
/* ------------About Me----------- */
#about{
    padding: 100px 0;
    color: #073520
}
.about{
    width: 100%;
    padding: 80px 0px;
    background-color: rgb(208, 235, 248);
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
    margin-top: 20px;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
    margin-top: 20px;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: black;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: blue;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: darkblue;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/* -----------Aside Menu----------- */
.aside-menu{
    max-height: 50px;
    background-color: #F1F1C0;
    padding: 5rem 9% 2rem;
    /* overflow-y: auto; */
    /* margin-top: 0px;
    margin-bottom: 0px; */
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 100%;
    height: 180px;
    background-color: #F1F1C0;
    text-align: center;

}
.bar-container{
    display: flex;
    align-items: flex-start;
}
.bar-logo{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #000;
    padding-top: 10px;
}
.bar-logo a{
    text-decoration: none;
    color: #000000;
    margin: 5px 0;
}
.bar-logo li:hover{
    margin-left: 5px;
}
.bar-logo-right{
    margin-left: 300px;
}
.menu{
    justify-content: space-around;
}
.column-image{
    text-align: right;
}
.column-image img{
    max-width: 100%;
}

  /* ------------- Footer -------------- */
footer{
    text-align: center;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    
}
