*{
    margin: 0;
    padding: 0;
    left:0;
    top: 0;
    box-sizing: border-box;
    background-attachment: fixed;
}
body{
color: #000000;
}
section{
    min-height: 50vh;
    padding: 9rem 9% 2rem;
}
#header{
    width: 100%;
    height: 100vh;
    background-color: #b1b273;
    background-size: cover;
    background-position: center;
    
}
#header h1{
    float: left;
    letter-spacing: 0.5px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
/* -----------home------------ */
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.home-img{
    display: flex;
    margin-right: 20px;
    border-radius: 15px;
}
.home-content p{
    font-size: 30px;
    font-weight: 300;
    line-height: 0.5;
    margin-top: 50px;
}
.home-content h1{
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
    margin: 0;
    text-align: left;
    margin-top: 50px;
}
.social-media a{
    display:inline-flex;
    justify-content: center;
    align-items:center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(black);
    border-radius: 50%;
    font-size: 2rem;
    color: black;
    margin-top: auto;
    text-align: left;
    transition: .5s ease;
}
.social-media a:hover{
    background: white;
    color: black;
    box-shadow: 0 0 1rem white;
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: #F1F1C0;
    border-radius: 3rem;
    box-shadow: 0 0 1rem #F1F1C0;
    font-size: 1rem;
    color: black;
    letter-spacing: .1rem;
    font-weight: 300;
    margin-top: 60px
}
.btn:hover{
    box-shadow: none;
}

/* -----------header------------ */
nav{
    width: 100%;
    height: 90px;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    background-image: linear-gradient(#F1F1C0, #b1b273);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul{
        float: right;
        position: fixed;
        top:0;
        width: 100%;
    }
nav li{
        display: inline-block;
        list-style: none;
        float: right;
    }
nav li a{
    font-size: 50px;
    padding: 0px 30px;
    text-decoration: none;
}
li{
    display: block;
    /* float: right; */
}
li a{
    display: block;
    padding: 8px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: black;
    left: 0;
    bottom: 2px;
    display: block;
    margin-top: -20px;
    transition: 0.5s;
}
nav ul li a:hover::after{
   width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
/* ------------About Me----------- */
.about{
    width: 100%;
    height: 780px;
    padding: 70px 0px;
    margin-bottom: 0%;
    background-color: #cdcf98;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
    margin-top: 10px;
    margin-left: 1%;
}
.about-col-1 img{
    width: 100%;
    margin-top: 20%;
    border-radius: 50px;
}
.about-col-2{
    flex-basis: 60%;
    margin-top: 100px;
    margin-right: 2%;
    font-size: large;
    padding-left: 3%;
}
.about-col-2 p{
    font-size: 22px;
    /* padding-left: 3%; */
    padding-right: 5%;
}
.sub-title{
    font-size: 50px;
    color: black;
}
.tab-titles{
    display: flex;
    margin: 50px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgb(241, 241, 192);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 0px 0;
    font-size: 20px;
}
.tab-contents ul li span{
    color: #F1F1C0;
    font-size: 23px;
    font-weight: 500;
}
.tab-contents{
    display: none;
    font-size: large;
}
.tab-contents.active-tab{
    display: block;
}
/* ------------About ICT Section----------- */
.personal-information{
    font-size: large;
    background-color: #F1F1C0;
    text-align: center;
}
/* -----------Aside Menu----------- */
.aside-menu{
    max-height: 100px;
    background-color: #F1F1C0;
    padding: 5rem 9% 2rem;
    font-size: large;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 100%;
    height: 200px;
    background-color: #F1F1C0;
    text-align: center;

}
.bar-container{
    display: flex;
    align-items: flex-start;
}
.bar-logo ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* border-top: 1px solid #000; */
    padding-top: 45px;
    position: relative;
}
.bar-logo a{
    text-decoration: none;
    color: #000000;
    margin: 3px 0;
}
.bar-logo li a:hover{
    color: #ec3dba;
    position: relative;
}

.bar-logo-left{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
}

.bar-logo-right{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    width: 100%;
    margin-left: 200px;
    margin-top: 20px;
}
.menu{
    justify-content: space-around;
}
.column-image{
    text-align: right;
}
.column-image img{
    max-width: 100%;
    margin-top: 60px;
}
/* ------------Blog------------- */
#blog{
    padding: 0px 0;
    margin-top: 10%;
}
.blog-sub-title{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    padding-bottom: 50px;
}
.blog-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-gap:50px;
    margin-top: 50px;
    
}
.post{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 200px;
}
.blog img{
    width: 100%;
    border-radius: 10px;
    display: block;
    margin-top: 40%;
}
.layer{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.6), #cdcf98);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
}

/* -------------Dashboard---------- */
table{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 47%;
    transform: translate(-50%,-50%);
    width: 60%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0 2px 12px  rgba(103, 103, 79);
    background: #fafafa;
    text-align: center;
    position: fixed;
}
th,td{
    padding: 10px 15px;
    border-bottom: 1px solid black;
}
th{
    background: #cdcf98;
    color: black;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}
td{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
tr:nth-child(odd){
    background-color: #f1f1d6;
}
tr:not(:first-child) {
    border-left: 1px solid #000; 
}
select {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
}

/* -----------Progress-------- */
.progress-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 220px;
}
.progress-container .progress-container{
    margin-bottom: 25px;
}
.progress-container .progress-container h4{
    margin: 0 0 15px 15px;
    letter-spacing: .5px;
}
.progress-container .progress-container .progress-bar{
    position: relative;
    width: 500px;
    height: 30px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 3px 4px 5px 0px rgb(189, 189, 148);
}
.progress-container .progress-container .progress-bar span{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    color: #cdcf98;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.7;
    text-align: center;
    border-radius: 30px;
    background: linear-gradient(90deg, rgb(207, 207, 112), rgba(255,255,255) 100%);
    transition: width .5s linear;
}

/* ------------- Footer -------------- */
footer{
    text-align: center;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    
}
