*{
    margin: 0;
    padding: 0;
    left:0;
    top: 0;
    box-sizing: border-box;
    background-attachment: fixed;
}
body{
color: #000000;
}
section{
    min-height: 50vh;
    padding: 9rem 9% 2rem;
}
#header{
    width: 100%;
    height: 100vh;
    background-color: #b1b273;
    background-size: cover;
    background-position: center;
    
}
#header h1{
    float: left;
    letter-spacing: 0.5px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
/* -----------home------------ */
.home{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/*.home-img{
    display: flex;
    margin-right: 20px;
    border-radius: 15px;
}*/
.header-profile-image{
    border-radius: 150px 30px 150px 30px;
}
.home-content p{
    font-size: 30px;
    font-weight: 300;
    line-height: 0.5;
    margin-top: 50px;
}
.home-content h1{
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
    margin: 0;
    text-align: left;
    margin-top: 50px;
}
.social-media a{
    display:inline-flex;
    justify-content: center;
    align-items:center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(black);
    border-radius: 50%;
    font-size: 2rem;
    color: black;
    margin-top: auto;
    text-align: left;
    transition: .5s ease;
}
.social-media a:hover{
    background: white;
    color: black;
    box-shadow: 0 0 1rem white;
}
.btn{
    display: block;
    padding: 1rem 2.8rem;
    background: #F1F1C0;
    border-radius: 3rem;
    box-shadow: 0 0 25px #F1F1C0;
    font-size: 1rem;
    color: #2b2b04;
    letter-spacing: .1rem;
    font-weight: 300;
    margin-top: 60px;
    text-decoration: none;
    text-align: center;
    width: 220px;
}
.btn:hover{
    box-shadow: none;
}

/* -----------header------------ */
nav{
    width: 100%;
    height: 90px;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    background-image: linear-gradient(#F1F1C0, #b1b273);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul{
        float: right;
        position: absolute;
        top:0;
        width: 100%;
    }
nav li{
        /*display: inline-block;*/
        list-style: none;
        float: right;
    }
nav li a{
    font-size: 50px;
    padding: 0px 30px;
    text-decoration: none;
}
li{
    display: block;
    /* float: right; */
}
li a{
    display: block;
    padding: 8px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: black;
    left: 0;
    bottom: 2px;
    display: block;
    margin-top: -20px;
    transition: 0.5s;
}
nav ul li a:hover::after{
   width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
/* ------------About Me----------- */
.about{
    width: 100%;
    height: 800px;
    padding: 70px 0px;
    margin-bottom: 0%;
    background-color: #b1b273;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
    margin-top: 10px;
    margin-left: 1%;
}
.about-col-1 img{
    width: 100%;
    margin-top: 20%;
    border-radius: 50px;
}
.about-col-2{
    flex-basis: 60%;
    margin-top: 100px;
    margin-right: 2%;
    font-size: large;
    padding-left: 3%;
}
.about-col-2 p{
    font-size: 22px;
    /* padding-left: 3%; */
    padding-right: 5%;
}
.sub-title{
    font-size: 50px;
    color: black;
}
.tab-titles{
    display: flex;
    margin: 50px 0 40px;
    font-weight: 900;
}
.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #5b6d4a;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 0px 0;
    font-size: 20px;
}
.tab-contents ul li span{
    color: #414f2c;
    font-size: 23px;
    font-weight: 500;
}
.tab-contents{
    display: none;
    font-size: large;
}
.tab-contents.active-tab{
    display: block;
}
/* ------------About ICT Section----------- */
.personal-information{
    font-size: 20px;
    background-color: #F1F1C0;
    text-align: center;
    color: #000;
    
}
.personal-information h2{
    margin-top: 2%;
}
.personal-information hr{
    margin-top: 2%; 
    width: 50%;
    margin-left: 25%;
    margin-bottom: 3%;
    border: 1px solid black;
    
}
.personal-information a{
    color: black;
    margin-bottom: 50%;
}
/* -----------Aside Menu----------- */
.aside-menu{
    max-height: 100px;
    background-color: #b1b273;
    padding: 5rem 9% 2rem;
    font-size: 18px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 100%;
    height: 150px;
    background-color: #b1b273;
    text-align: center;

}
.bar-container{
    display: flex;
    align-items: flex-start;
}
.bar-logo ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* border-top: 1px solid #000; */
    padding-top: 45px;
    position: relative;
}
.bar-logo a{
    text-decoration: none;
    color: #000000;
    margin: 3px 0;
}
.bar-logo li a:hover{
    color: #ec3dba;
    position: relative;
}

.bar-logo-left{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
}

.bar-logo-right{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    width: 100%;
    margin-left: 200px;
    margin-top: 20px;
}
.menu{
    justify-content: space-around;
}
.column-image{
    text-align: right;
}
.column-image img{
    max-width: 100%;
    margin-top: 60px;
}
/* ------------Blog------------- */
  
  .blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-block: 2rem;
    gap: 2rem;
    margin-top: 10%;
    margin-left: 8%;
  }
  .second-blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-block: 2rem;
    gap: 2rem;
    margin-top: 0%;
    margin-left: 7%;
  }
  
  img {
    max-width: 100%;
    display: block;
    object-fit: cover;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  /* margin-top: 10%; */
  }
  
  
  
  .card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  
  
  .tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
  }
  
  .tag + .tag {
    margin-left: .5em;
  }
  
  .tag-blue {
    background: #56CCF2;
  background: linear-gradient(to bottom, #2F80ED, #56CCF2);
    color: #fafafa;
  }
  
  .tag-brown {
    background: #D1913C;
  background: linear-gradient(to bottom, #FFD194, #D1913C);
    color: #fafafa;
  }
  
  .tag-red {
    background: #cb2d3e;
  background: linear-gradient(to bottom, #ef473a, #cb2d3e);
    color: #fafafa;
  }
  
  .card__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
  }
  
  .card__footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
  }
  
  .user {
    display: flex;
    gap: .5rem;
  }
  
  .user__image {
    border-radius: 50%;
  }
  
  .user__info > small {
    color: #666;
  }

/* -------------Dashboard---------- */
table{
    width: 60%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0 2px 12px  rgba(103, 103, 79);
    background: #ffffff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
}
th,td{
    padding: 10px 15px;
    border-bottom: 1px solid black;
}
th{
    background: #cdcf98;
    color: black;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}
td{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
tr:nth-child(odd){
    background-color: #f1f1d6;
}
tr:not(:first-child) {
    border-left: 1px solid #000; 
}
select {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    background-color: #ffffff;
    color: #333;
}


/* -----------Progress-------- */
.progress-container{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.progress-container .progress-container{
    margin-bottom: 25px;
}
.progress-container .progress-container h4{
    margin: 0 0 15px 15px;
    letter-spacing: .5px;
}
.progress-container .progress-container .progress-bar{
    position: relative;
    width: 500px;
    height: 30px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 3px 4px 5px 0px rgb(189, 189, 148);
}
.progress-container .progress-container .progress-bar span{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    color: #40402d;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.7;
    text-align: center;
    border-radius: 30px;
    background: linear-gradient(90deg, rgb(207, 207, 112), rgba(255,255,255) 100%);
    transition: width .5s linear;
}

/* --------------FAQ------------- */
.questions-image{
    float: left;
    margin-left: 10%;
}
.container-fluid{
    width: 40%;
    margin: 0 auto;
    margin-top: 14%;
    float: right;
    margin-right: 5%;
}
.container-fluid h2{
    color: black;
    position: relative;
    width: 23rem;
    text-align: center;
    margin-left: 15%;
}
.container-fluid h2::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 12px;
    width: 67px;
    height: 2px;
    background-color: #999a64;
}
.accordion{
    width: 100%;
    padding: 0 15px;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    margin: 10px 0;
    align-items: center;
}
 .accordion .icon{
    margin: 0 20px 0 0;
    width: 30px;
    height: 30px;
    /* background: url(/Images/plus.png) no repeat 8px 7px #cdcf98; */
    border-radius: 50%;
    float: left;
    transition: all .5s ease-in;
    font-size: 30px;
}
.accordion h5{
    font-size: 22px;
    margin: 0;
    padding: 3px 0 0 0;
    font-weight: normal;
    color: #b1b273;
    transition: all .5s ease-in;
}
.accordion .active .icon{
    font-family: "Font Awesome 6";
    content: "\f068";
}
.active{
    background-color: #f1f1d6;
    color: #F1F1C0;
}
.active h5{
    color: #ec3dba;
}
.panel{
    padding: 0 15px;
    border-left: 1px solid #b1b273;
    margin-left: 25px;
    font-size: 14px;
    text-align: justify;
    overflow: hidden;
    max-height: 0;
    transition: all .5s ease-in;
}
/* .faq-footer{
    margin-top: 20%;
    text-align: center;
    padding: 0;
    margin-bottom: 5px;
} */

/* ------------- Footer -------------- */
footer{
    text-align: center;
    padding: 0;
    margin-top: 0px;
    background-color: #b1b273;
    
}
